.bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../assets/illustration.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
